<div class="container mx-auto px-4 flex flex-col justify-center items-center">
  <h1 class="text-4xl font-bold text-center mt-10 w-full">Welcome to Rails 8 test application</h1>
  <ul class="mt-4 list-disc list-inside text-left">
    <li>CRUD dashboard for admin users
      <ul class="list-disc list-inside ml-5">
        <li>Users, roles, and products management</li>
      </ul>
    </li>
    <li>Product search functionality</li>
    <li>Like system for users to save their favorite products</li>
    <li>Download a CSV file that consumes an API endpoint from the server as an example</li>
    <li>Almost all frontend is done with basic responsive design</li>
  </ul>
</div>