<div class="container mx-auto px-4">
  <h1 class="text-4xl font-bold text-center my-5">Products list</h1>
  <div class="flex flex-col md:flex-row gap-5"> 
    <div class="w-full md:w-1/4">
      <div class="pt-2 pb-8 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="" data-controller="finder-field">
          <%= search_form_for(@q, method: :get, url: "#{turbo_products_path}.turbo_stream", html: { "data-finder-field-target" => "form" }) do |f| %>
            <div class="flex flex-col gap-5">
              <div class="flex-grow">
                <%= f.search_field "name_or_description_cont".to_sym,
                  class: "shadow-lg rounded-md block w-full h-full pl-8 pr-3 py-2 border-transparent text-blue-500 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent sm:text-sm font-bold pl-6",
                  placeholder: "Name or description",
                  "aria-label" => "Name or description",
                  "aria-describedby" => "button-search",
                  "data-finder-field-target" => "input",
                  "data-action" => "input->finder-field#update"
                %>
              </div>
              <div class="flex justify-end">
                <%= f.submit "Buscar",
                  class: "btn",
                  "data-finder-field-target" => "submit"
                %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex-grow">
      <%= turbo_frame_tag "all_products", src: @page ? "/products/list/page/" + @page : "/products/list", target: "_top", loading: "lazy" do %>
        <div class="w-full text-center py-4 flex justify-center">
          <svg class='animate-spin h-12 w-12 text-blue-500' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'>
            <circle class='opacity-25' cx='12' cy='12' r='10' stroke='currentColor' stroke-width='4'></circle>
            <path class='opacity-75' fill='currentColor' d='M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z'></path>
          </svg>
        </div>
      <% end %>
    </div>
  </div>
</div>